* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #6c757d;
  --primary: red;
  --light: #f8f9fa;
  --dark: #000000;
  --secondary: #9b0808;
}

html, body, #root, .App {
  min-height: 100%;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: var(--light);
}

::selection {
  background: var(--dark);
  color: var(--primary);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--secondary);
}